<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- Register a servlet that despatches requests to registered controllers -->
	<servlet>
		<servlet-name>game</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Send all .html files to the Spring dispatcher servlet -->
	<servlet-mapping>
		<servlet-name>game</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<!-- Define the web application entry point -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>