body.primary {
	background: url(../resources/primary_background.jpg) repeat left top; 
}

h1 {
    font-family:Georgia,"Times New Roman",Times,serif;
	font-size: 1.2em;
	font-weight: normal;
	color: Black;
	margin: 0.4em 0.4em 0.4em 0.4em;
}

h2 {
    font-family:Georgia,"Times New Roman",Times,serif;
	font-size: 1.1em;
	font-weight: normal;
	color: Black;
	margin: 0.4em 0.4em 0.4em 0.4em;
}

text.new {
	font-weight: italic, bold;
	color: Red;
}

.header {
    position: relative;
}

.menu {
    float: left;
}

.home {
    position: relative;
    margin-left: 10em;
    float: left;
    width: 30em;
}

.workbench {
    position: relative;
    margin-left: 10em;
    float: left;
    width: 30em;
}

.market {
    position: relative;
    margin-left: 10em;
    float: left;
    width: 30em;
}

.event {
    position: relative;
    float: right;
    width: 20em;
}

.footer {
    text-align: center;
    clear: both;
    position: relative;
    bottom: -2em;
}

.header, .menu, .home, .workbench, .market, .event, .footer {
    background: Wheat;
}

a {
	color: DarkSlateGray;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: OrangeRed;
	font-weight: normal;
	text-decoration: none;
}

div.page {
	background: Wheat;
}

table.silver {
	margin: 0.4em 0.4em 0.4em 0.4em;
	background: Wheat;
	border-collapse: collapse;
}

table.silver th {
	color: DarkSlateGray;
	background: Wheat;
	text-align: left;
}

table.silver th,table.silver td {
	border: 1px Peru solid;
	padding: 0.2em;
}

.errors {
	color: Red;
	font-weight: bold;
}